.cardsContainer {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}
.cards {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    margin: 10px;

    height: 180px;
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    min-width: 250px;
    max-width: 500px;
}
.en {
    background-color: #FB9876;
}
.to {
    background-color: #75DDD1;
}
.tre {
    background-color: #A2A2FF;
}
.fire {
    background-color:#FFC87C;
}