.cardsContainer {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}
.cards {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    margin: 10px;
    height: 180px;
    padding: 20px;
    border-radius: 10px;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    min-width: 200px;
    max-width: 500px;
    text-align: center;
}
.en {
    background-color: #FB9876;
}
.to {
    background-color: #75DDD1;
}
.tre {
    background-color: #A2A2FF;
}
.fire {
    background-color:#FFC87C;
}
.icon {
    font-size: 40px;
}
.iconContainer {
    text-align: center;
    margin-top: 30px;
}
.cardText {
    margin: 0px;
}
.statistics {
    text-align: center;
    margin: 20px;
}
.statisticsNo {
    font-size: 26px;
    color: grey;
}
.statisticsText {
    font-size: 14px;
    margin: -10px;
    color: #C1C1D8;
}