.deleteIcon:hover {
  color: red;
}
.archiveIcon:hover,
.editIcon:hover {
  color: #3880ff;
}

.deleteIcon, .archiveIcon, .editIcon {
  font-size: 15px;
}

.expandIcon {

}

.expandIcon:hover {
  color: #3880ff;
}

.ellipsisIcon, .pinIcon, .flagIcon {
  font-size: 20px;
}

.destination {
  color: #757575;
}