.deleteIcon:hover {
  color: red;
}
.archiveIcon:hover,
.editIcon:hover {
  color: #3880ff;
}

.deleteIcon, .archiveIcon, .editIcon {
  font-size: 15px;
}

.expandIcon {

}

.expandIcon:hover {
  color: #3880ff;
}

.ellipsisIcon, .pinIcon, .flagIcon {
  font-size: 20px;
}
.flagIcon {
  padding-right: 20px;
  padding-left: 50px;
}
.pinIcon {
  padding-right: 50px;
  padding-left: 20px;
}
.ellipsisIcon {
  margin: 0 auto;
}
.destination {
  color: #757575;
}