.deleteIcon:hover {
  color: red;
}
.archiveIcon:hover,
.editIcon:hover {
  color: #3880ff;
}

.deleteIcon, .archiveIcon, .editIcon {
  font-size: 15px;
}
/*
.expandIcon {

}
*/
.expandIcon:hover {
  color: #3880ff;
}

.ellipsisIcon, .pinIcon, .flagIcon {
  font-size: 20px;
}
.flagIcon {
  padding-right: 20px;
  padding-left: 10px;
}
.pinIcon {
  padding-right: 10px;
  padding-left: 20px;
}
.ellipsisIcon {
  margin: 0 auto;
}
.destinationTo, .destinationFrom {
  color: #757575;
}
.destinationFrom {
  padding-left: 20px;
}
.destinationTo {
  padding-right: 20px;
}
.mapButton {
  padding-left: 40px;
}